* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

#form {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

#name {
  padding: 5px;
  -webkit-flex: none;
          flex: 200px;
}

#input {
  padding: 5px;
  -webkit-flex: initial;
          flex: initial;
}

#btnContainer {
  padding: 5px;
  -webkit-flex: none;
          flex: none;
  width: 80px;
}

#messages {
  position: absolute;
  top: 45px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
}

#menu {
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 0;
}

#messages li {
  display: flex;
  padding: 5px 10px;
  margin: 0;
}

#messages li .name{
  width: 150px;
  text-align: right;
  -webkit-flex: none;
          flex: none;
}

#messages li .msg{
  text-align: left;
  margin-left: 10px;
  -webkit-flex: initial;
          flex: initial;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.bullet {
  position: fixed;
	white-space: nowrap;
  font-size: 2em;
  text-shadow: 0px 0px 10px #888;
}

#doc {
  z-index: 10;
  display: none;
}

#doc tbody td{
  background: #FBFBFB;
}

@media (max-width: 768px) {
.mobile-hidden {
    display: none !important;
}
}
